---
http_interactions:
- request:
    method: get
    uri: https://dev-api.shrimpy.io/v1/exchanges/kucoin/ticker?x-api-key=9d040819e8295ea0f94b42ff48a3f02d8b0586a6c9700035e3e6510576488d70
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ca02-NRjOGTR9WURyUx2E2dL9wl+uzDY"
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"Bitcoin","symbol":"BTC","priceUsd":"36039.049999930634","priceBtc":"1","percentChange24hUsd":"-0.147676723719639716","lastUpdated":"2021-06-06T17:25:46.000Z"},{"name":"Ethereum","symbol":"ETH","priceUsd":"2703.0188476197973","priceBtc":"0.0750025","percentChange24hUsd":"2.8273624622142276","lastUpdated":"2021-06-06T17:25:46.000Z"},{"name":"Tether","symbol":"USDT","priceUsd":"1","priceBtc":"0.0000277476792535","percentChange24hUsd":"0","lastUpdated":"2021-06-06T17:25:46.000Z"},{"name":"NEO","symbol":"NEO","priceUsd":"56.927283379890426","priceBtc":"0.0015796","percentChange24hUsd":"1.23341988204002265","lastUpdated":"2021-06[...]
