---
http_interactions:
- request:
    method: get
    uri: https://dev-api.shrimpy.io/v1/exchanges/kucoin/ticker?x-api-key=9d040819e8295ea0f94b42ff48a3f02d8b0586a6c9700035e3e6510576488d70
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cb2c-2AMEYZH5/dIKtweFYiUy71Y/hQk"
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"Bitcoin","symbol":"BTC","priceUsd":"37592.7499999335","priceBtc":"1","percentChange24hUsd":"-2.664049826890531086","lastUpdated":"2021-06-05T01:09:43.000Z"},{"name":"Ethereum","symbol":"ETH","priceUsd":"2758.2176602451204","priceBtc":"0.073371","percentChange24hUsd":"-1.685203155936222419","lastUpdated":"2021-06-05T01:09:43.000Z"},{"name":"Tether","symbol":"USDT","priceUsd":"1","priceBtc":"0.0000266008738388","percentChange24hUsd":"0","lastUpdated":"2021-06-05T01:09:43.000Z"},{"name":"NEO","symbol":"NEO","priceUsd":"58.09019693739724","priceBtc":"0.00154525","percentChange24hUsd":"-4.638847991759450284","lastUpdated":"202[...]
