---
http_interactions:
- request:
    method: get
    uri: https://dev-api.shrimpy.io/v1/exchanges/kucoin/ticker?x-api-key=9d040819e8295ea0f94b42ff48a3f02d8b0586a6c9700035e3e6510576488d70
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c9cb-rkb1P58L1yhkkCPtnOBcTqhYHwg"
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"Bitcoin","symbol":"BTC","priceUsd":"37492.74999993332","priceBtc":"1","percentChange24hUsd":"3.17467963452615986","lastUpdated":"2021-06-03T00:31:47.000Z"},{"name":"Ethereum","symbol":"ETH","priceUsd":"2711.119498870178","priceBtc":"0.0723105","percentChange24hUsd":"4.39387501346659771","lastUpdated":"2021-06-03T00:31:47.000Z"},{"name":"Tether","symbol":"USDT","priceUsd":"1","priceBtc":"0.0000266718232192","percentChange24hUsd":"0","lastUpdated":"2021-06-03T00:31:47.000Z"},{"name":"NEO","symbol":"NEO","priceUsd":"61.00257888739151","priceBtc":"0.00162705","percentChange24hUsd":"14.65380083963787002","lastUpdated":"2021-0[...]
