---
http_interactions:
- request:
    method: get
    uri: https://dev-api.shrimpy.io/v1/exchanges/kucoin/ticker?x-api-key=9d040819e8295ea0f94b42ff48a3f02d8b0586a6c9700035e3e6510576488d70
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cb34-OCdSFF5461Gy5D9lJUFXwFjjojM"
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"Bitcoin","symbol":"BTC","priceUsd":"36975.96793122053","priceBtc":"1","percentChange24hUsd":"-4.460417853428974294","lastUpdated":"2021-06-04T20:31:46.000Z"},{"name":"Ethereum","symbol":"ETH","priceUsd":"2697.082564855122","priceBtc":"0.0729415","percentChange24hUsd":"-3.934928750124265463","lastUpdated":"2021-06-04T20:31:46.000Z"},{"name":"Tether","symbol":"USDT","priceUsd":"1","priceBtc":"0.0000270445929059","percentChange24hUsd":"0","lastUpdated":"2021-06-04T20:31:46.000Z"},{"name":"NEO","symbol":"NEO","priceUsd":"56.81172592792378","priceBtc":"0.00153645","percentChange24hUsd":"-6.748536677509098632","lastUpdated":"202[...]
